{% extends "layout.twig" %}

{% block title %} Detalles de canción {% endblock %}

{% block main_container %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/covers/{{song._id}}.png" >
		  </div>
		  <div class="media-body">
			  <h2>{{ song.title }}</h2>
			  <p>{{ song.author }}</p>
			  <p>{{ song.kind }}</p>
			  {% if canBuy %}
			  	  <a class="btn btn-primary pull-right" href="/songs/buy/{{ song._id }}">{{ song.price }} € - {{ song.usd }} $</a>
			  {% else %}
				  <audio controls>
					  <source src="/audios/{{ song._id }}.mp3" type="audio/mpeg">
				  </audio>
			  {% endif %}
			 <!-- Cambiar el precio por "reproducir" si ya está comprada -->
		  </div>
		</div>
	  </div>
	<form class="form-horizontal" method="post" action="/comments/{{song._id}}">
		<div class="form-group">
		<input id="textComment" type="text" class="form-control" placeholder="Escribe tu comentario..." name="textComment" required/>
			<button type="submit" class="btn btn-primary">Añadir</button>
		</div>
	</form>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Autor</th>
				<th>Comentario</th>
				<th class="col-md-1"></th>
			</tr>
			</thead>
			<tbody>
			{% for comment in comments %}
				<tr>
					<td> {{ comment.user }} </td>
					<td>{{ comment.textComment }}</td>
					<td>
						<a href="/comments/delete/{{ comment._id }}">Eliminar</a> <br>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}